.board {
    width: min(100%, 80vh);
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;

    background-image: url("https://www.chess.com/boards/green/150.png");
    background-size: cover;

    div {
        position: absolute;
        width: 12.5%;
        height: 12.5%;
    }

    .piece {
        background-size: cover;
        z-index: 10;
        transition: left 0.1s ease, bottom 0.1s ease;
    }

    .highlight {
        background-color: #ffff3375;
    }

    .hint {
        padding: 4.2%;
        box-sizing: border-box;
        background-clip: content-box;
        background-color: #00000024;
        border-radius: 50%;
    }

    .capture-hint {
        padding: 4.2%;
        box-sizing: border-box;
        background-clip: content-box;
        border: 5px solid #00000024;
        border-radius: 50%;
    }
}

@media screen and (max-width: 80vh) {
    .board {
        border-radius: 0;
    }
}
