.board-panel {
    width: min(100%, 350px);
    height: min(100%, 80vh);
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffffd9;
    background-color: #00000026;
    display: inline-flex;
    flex-direction: column;

    .board-panel-header {
        background-color: #00000026;
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 1rem;
    }

    .board-panel-content {
        flex: 1 1 0;
        width: 100%;
        min-height: 0;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 1rem;

        scrollbar-color: #00000050 #00000000;
        scrollbar-width: thin;
    }

    .board-panel-footer {
        background-color: #00000026;
        width: 100%;
        height: 10px;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px;
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .board-panel {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}
