.board-panel {
    width: min(100%, 300px);
    height: min(100%, 80vh);
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffffd9;
    background-color: #00000026;
    display: inline-flex;
    flex-direction: column;

    .board-panel-header {
        background-color: #00000026;
        border-radius: 4px 4px 0 0;
        width: 100%;
        display: flex;
    }

    .board-panel-content {
        flex: 1 1 0;
        width: 100%;
        min-height: 0;
        display: flex;
        flex-direction: column;
        border-top: 0.05rem solid #ffffff1a;
        overflow-y: auto;
        scrollbar-color: #00000050 #00000000;
        scrollbar-width: thin;

        & > * {
            border-bottom: 0.05rem solid #ffffff1a;
        }
    }

    &.gameEnd {
        .board-panel-footer:has(.green-button) {
            flex-direction: column;
            height: 9.4rem;
            .green-button {
                font-size: 1.1rem;
            }

            div {
                height: 100%;
            }
        }
    }

    .board-panel-footer {
        background-color: #00000026;
        width: 100%;
        height: 5.5rem;
        box-sizing: border-box;
        border-radius: 0 0 4px 4px;
        padding: 1.2rem;

        display: flex;
        gap: 0.8rem;

        button {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .board-panel {
        width: 100%;
        border-radius: 0;
        height: 100%;
        &.playingVsFriend,
        &.playingVsBot,
        &.playingSandBox {
            .board-panel-footer {
                height: 3.5rem;
                border-radius: 0;
                padding: 0;
                gap: 0;
                background-color: transparent;
                border-bottom: 0.05rem solid #ffffff1a;

                button {
                    background-color: transparent;
                    border-radius: 0;

                    &:hover {
                        background-color: transparent;
                    }

                    &:disabled {
                        opacity: 0.25;
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
