.board-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(100%, 80vh);
    height: min(100%, 80vh);

    &:has(:last-child.captured-pieces) {
        // 5rem -> height of .captured-pieces * 2
        width: calc(min(100%, 80vh) - 5rem);
    }

    .captured-pieces {
        padding: 0.5rem;
        text-align: left;
    }

    &:has(.chessboard-layout > .evaluation-bar) {
        // 5rem -> .captured-pieces height * 2
        .captured-pieces {
            margin-left: 2.5rem;
        }

        &:has(:last-child.captured-pieces) {
            // 2.5rem -> .captured-pieces height * 2 - .evaluation-bar width
            width: calc(min(100%, 80vh) - 2.5rem);
        }
    }

    .chessboard-layout {
        display: flex;
        gap: 0.5rem;

        .board {
            width: 100%;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 2px 4px #00000033;
            position: relative;

            background-image: url("https://www.chess.com/boards/green/150.png");
            background-size: cover;

            .in-board {
                position: absolute;
                width: 12.5%;
                height: 12.5%;
                user-select: none;
                pointer-events: none;
            }

            .shape {
                background-color: rgb(235, 97, 80);
                opacity: 0.8;
            }

            .arrows {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                user-select: none;
                pointer-events: none;
            }

            .coordinates {
                user-select: none;
                display: block;

                text {
                    font-size: 2.8px;

                    &.coordinate-light {
                        fill: #739552;
                        font-weight: 600;
                    }

                    &.coordinate-dark {
                        fill: #ebecd0;
                        font-weight: 600;
                    }
                }
            }

            .piece {
                background-size: cover;
                z-index: 1;
                transition: left 0.1s ease, bottom 0.1s ease;
            }

            .highlight {
                background-color: #ffff3375;
            }

            .hint,
            .capture-hint {
                padding: 4.2%;
                box-sizing: border-box;
                background-clip: content-box;
                border-radius: 50%;
            }

            .hint {
                background-color: #00000024;
            }

            .capture-hint {
                border: 5px solid #00000024;
            }

            .promotion-box {
                background-color: #fff;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.65);
                border-radius: 3px;
                height: 56.25%;
                transform: translate(0%, 78%);
                z-index: 4;
                display: flex;
                flex-direction: column;

                * {
                    pointer-events: initial;
                }

                .promotion-piece {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background-position-y: bottom;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    cursor: pointer;
                }

                .close-button {
                    position: relative;
                    width: 100%;
                    height: 11%;
                    background-color: #f1f1f1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 0 3px 3px;
                    cursor: pointer;

                    svg {
                        width: 70%;
                        height: 70%;
                    }
                }
            }

            .promotion-box-close {
                z-index: 3;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .wp {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wp.png");
            }
            .wn {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wn.png");
            }
            .wb {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wb.png");
            }
            .wr {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wr.png");
            }
            .wq {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wq.png");
            }
            .wk {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/wk.png");
            }
            .bp {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bp.png");
            }
            .bn {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bn.png");
            }
            .bb {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bb.png");
            }
            .br {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/br.png");
            }
            .bq {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bq.png");
            }
            .bk {
                background-image: url("https://www.chess.com/chess-themes/pieces/neo/150/bk.png");
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .board-layout {
        width: 100%;

        &:has(:last-child.captured-pieces) {
            width: 100%;
        }
        .chessboard-layout {
            gap: 0;

            .board {
                border-radius: 0;
            }
        }
    }
}
