.captured-pieces-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.captured-pieces {
    height: 1.425rem;
    display: flex;
    align-items: end;

    span {
        background-image: url("https://www.chess.com/bundles/web/images/sprites/captured-pieces.png");
        background-repeat: no-repeat;
        margin-right: 0.225rem;
        background-size: 25.65rem 22.95rem;
    }

    .captured-piece-score {
        background-image: none;
        background-color: transparent;
        color: #ffffff80;
        margin-left: 0.4rem;
        font-weight: 600;
    }

    .captured-pieces-b-p,
    .captured-pieces-w-p {
        height: 1.275rem;
        width: 0.975rem;
    }

    .captured-pieces-b-2-p,
    .captured-pieces-w-2-p {
        height: 1.275rem;
        width: 1.5rem;
    }

    .captured-pieces-b-3-p,
    .captured-pieces-w-3-p {
        height: 1.275rem;
        width: 2.025rem;
    }

    .captured-pieces-b-4-p,
    .captured-pieces-w-4-p {
        height: 1.275rem;
        width: 2.55rem;
    }

    .captured-pieces-b-5-p,
    .captured-pieces-w-5-p {
        height: 1.275rem;
        width: 3.075rem;
    }

    .captured-pieces-b-6-p,
    .captured-pieces-w-6-p {
        height: 1.275rem;
        width: 3.6rem;
    }

    .captured-pieces-b-7-p,
    .captured-pieces-w-7-p {
        height: 1.275rem;
        width: 4.125rem;
    }

    .captured-pieces-b-8-p,
    .captured-pieces-w-8-p {
        height: 1.275rem;
        width: 4.65rem;
    }

    .captured-pieces-b-b,
    .captured-pieces-w-b {
        height: 1.35rem;
        width: 1.125rem;
    }

    .captured-pieces-b-2-b,
    .captured-pieces-w-2-b {
        height: 1.425rem;
        width: 1.725rem;
    }

    .captured-pieces-b-n,
    .captured-pieces-w-n {
        height: 1.425rem;
        width: 1.2rem;
    }

    .captured-pieces-b-2-n,
    .captured-pieces-w-2-n {
        height: 1.425rem;
        width: 1.725rem;
    }

    .captured-pieces-b-r,
    .captured-pieces-w-r {
        height: 1.275rem;
        width: 1.125rem;
    }

    .captured-pieces-b-2-r,
    .captured-pieces-w-2-r {
        height: 1.275rem;
        width: 1.725rem;
    }

    .captured-pieces-b-q,
    .captured-pieces-w-q {
        height: 1.425rem;
        width: 1.35rem;
    }

    /* background-position × 0.75 */
    .captured-pieces-b-p {
        background-position: 0 -13.2rem;
    }
    .captured-pieces-w-p {
        background-position: -13.5rem -13.2rem;
    }

    .captured-pieces-b-2-p {
        background-position: 0 -11.325rem;
    }
    .captured-pieces-w-2-p {
        background-position: -13.5rem -11.325rem;
    }

    .captured-pieces-b-3-p {
        background-position: 0 -9.45rem;
    }
    .captured-pieces-w-3-p {
        background-position: -13.5rem -9.45rem;
    }

    .captured-pieces-b-4-p {
        background-position: 0 -7.575rem;
    }
    .captured-pieces-w-4-p {
        background-position: -13.5rem -7.575rem;
    }

    .captured-pieces-b-5-p {
        background-position: 0 -5.7rem;
    }
    .captured-pieces-w-5-p {
        background-position: -13.5rem -5.7rem;
    }

    .captured-pieces-b-6-p {
        background-position: 0 -3.825rem;
    }
    .captured-pieces-w-6-p {
        background-position: -13.5rem -3.825rem;
    }

    .captured-pieces-b-7-p {
        background-position: 0 -1.95rem;
    }
    .captured-pieces-w-7-p {
        background-position: -13.5rem -1.95rem;
    }

    .captured-pieces-b-8-p {
        background-position: 0 -0.075rem;
    }
    .captured-pieces-w-8-p {
        background-position: -13.5rem -0.075rem;
    }

    .captured-pieces-b-b {
        background-position: -5.025rem -1.875rem;
    }
    .captured-pieces-w-b {
        background-position: -18.525rem -1.875rem;
    }

    .captured-pieces-b-2-b {
        background-position: -5.025rem 0.075rem;
    }
    .captured-pieces-w-2-b {
        background-position: -18.525rem 0.075rem;
    }

    .captured-pieces-b-n {
        background-position: -7.125rem -1.8rem;
    }
    .captured-pieces-w-n {
        background-position: -20.625rem -1.8rem;
    }

    .captured-pieces-b-2-n {
        background-position: -7.125rem 0.075rem;
    }
    .captured-pieces-w-2-n {
        background-position: -20.625rem 0.075rem;
    }

    .captured-pieces-b-r {
        background-position: -9.075rem -1.95rem;
    }
    .captured-pieces-w-r {
        background-position: -22.575rem -1.95rem;
    }

    .captured-pieces-b-2-r {
        background-position: -9rem -0.075rem;
    }
    .captured-pieces-w-2-r {
        background-position: -22.5rem -0.075rem;
    }

    .captured-pieces-b-q {
        background-position: -10.875rem 0.075rem;
    }
    .captured-pieces-w-q {
        background-position: -24.375rem 0.075rem;
    }
}
