.evaluation-bar {
    height: 100%;
    width: 2rem;
    border-radius: 4px;
    background-color: #403d39;
    position: relative;
    overflow: hidden;

    .evaluation-white-text,
    .evaluation-black-text {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        z-index: 1;
        font-weight: 600;
    }

    .evaluation-white-text {
        bottom: 0.2rem;
        color: #403d39;
    }

    .evaluation-black-text {
        top: 0.2rem;
    }

    .evaluation-bar-fill {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-color: #fff;
        transition: height 0.3s ease-in-out;
    }

    &.inverted {
        .evaluation-white-text {
            bottom: initial;
            top: 0.2rem;
        }

        .evaluation-black-text {
            top: initial;
            bottom: 0.2rem;
        }

        .evaluation-bar-fill {
            bottom: initial;
            top: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .evaluation-bar {
        width: 1rem;
        border-radius: 0;

        .evaluation-white-text,
        .evaluation-black-text {
            font-size: xx-small;
        }
    }
}
