.fen-modal {
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .fen-modal-text {
        font-size: 1.1rem;
        font-weight: 600;
        color: #ffffffd0;
    }

    .fen-modal-code {
        border-radius: 0.4rem;
        border: 0.05rem solid #ffffff1a;
        padding: 0.5rem 1rem;
        background-color: #ffffff14;
        color: #ffffffb0;

        display: flex;
        gap: 1rem;
    }

    button {
        border-radius: 0.4rem;
        padding: 0.5rem 1rem;
        fill: #ffffffee;
    }
}
