.game {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .game {
        padding: 0;
        gap: 0;
        flex-direction: column;
    }
}
