.panel-moves-list-wrapper {
    height: 100%;
    overflow-y: auto;
    border-bottom: none !important;

    .panel-moves-list {
        height: calc(100% - 3.4rem);
        overflow-y: auto;
        scrollbar-color: #00000050 #00000000;
        scrollbar-width: thin;

        & > div {
            font-size: smaller;
            height: 30px;
            line-height: 30px;
            padding: 0 15px 0 15px;
            width: 100%;
            box-sizing: border-box;
            text-align: left;
        }

        .move-list-row {
            display: grid;
            grid-template-columns: 3rem 1fr 1fr;
            align-items: center;

            &.light-row {
                background-color: #ffffff05;
            }

            div {
                display: inline-block;
                height: 24px;
                line-height: 24px;
            }

            .number {
                color: #ffffff80;
            }

            .move-notation {
                font-weight: 600;
                width: max-content;
                padding: 0 4px;
                border-bottom: solid 3px transparent;
                cursor: pointer;

                &.selected {
                    background-color: #ffffff24;
                    border-bottom: solid 3px #ffffff1a;
                    border-radius: 2px;
                    font-weight: 700;
                    color: #fff;
                    cursor: default;
                }
            }
        }

        .game-winner {
            color: #ffffff80;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    .game-controlers {
        display: flex;
        margin-left: auto;
        height: 3.4rem;
        margin-right: 0.8rem;
        box-sizing: border-box;
        width: 30%;
        border-bottom: none !important;

        button {
            width: 100%;
            background: transparent !important;
            padding: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .panel-moves-list-wrapper {
        position: relative;
        border-bottom: 0.05rem solid #ffffff1a !important;
        position: relative;
        display: flex;

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 4rem;
            right: 4rem;
            bottom: 0;
            z-index: 1;
            user-select: none;
            pointer-events: none;
            background: linear-gradient(
                90deg,
                #2a2725 0%,
                #00000000 10%,
                #00000000 90%,
                #2a2725 100%
            );
        }

        .game-controler {
            height: 100%;

            button {
                height: 100%;
                width: 4rem;
                background: transparent !important;
            }
        }

        .panel-moves-list {
            height: 100%;
            width: 100%;
            padding: 0 30%;
            overflow-y: none;
            overflow-x: auto;
            scrollbar-width: none;
            display: flex;
            align-items: center;

            .move-list-row.light-row {
                background-color: transparent;
            }

            & > div {
                font-size: medium;
                width: fit-content;
            }

            .move-list-row {
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0 1rem;
                gap: 0.2rem;

                div:last-child {
                    margin-left: 0.8rem;
                }
            }
        }
    }
}
